/** @define component  */
/*! | superflycss/component-site |
    | MIT License                |
    | https://github.com/superflycss/component-header/blob/master/LICENSE.md */

:root {
  --Header-width: 100%;
  --Header-background-color: transparent;
  --Header-padding-top: 2rem;
  --Header-padding-bottom: 2rem;
  --Header-padding-left: 1rem;
  --Header-padding-right: 1rem;
  --Header-margin-bottom: 3rem;

  --Header {
    display: flex;
    padding-top: var(--Header-padding-top);
    padding-bottom: var(--Header-padding-bottom);
    padding-left: var(--Header-padding-left);
    padding-right: var(--Header-padding-right);
    width: var(--Header-width);
    background-color: var(--Header-background-color);
  }
}

.Header {
  @apply(--Header);
}

.Header--column {
  @apply(--Header);
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Header--shadow {
  @apply(--Header);
  box-shadow: 0 0 0.5rem rgba(0,0,0,.1);
}
.Header--shadow-column {
  @apply(--Header);
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0,0,0,.1);
}
